<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Master of Scrum</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/scripts/board.js"></script>
</head>

<body>
    <section>
        <h2>Guía</h2>
        <h3>Sprint <span id="sprint"></span> </h3>
        <h3>Jornada <span id="day"></span> </h3>
        <h3 id="title"></h3>
        <p id="description"></p>
        <button id="next-part">Continuar</button>
    </section>
    <section>
        <h2>Situaciones</h2>
        <h3 id="situation-card-title"></h3>
        <p>
            <span id="situation-card-target"></span>
            <span id="situation-card-description">
        </p>

        <button id="next-situation">Próxima situación</button>

    </section>

    <section>
        <h2>Timer</h2>
        <p> Tiempo transcurrido <span id="countdowntimer">0 </span> segundos</p>
        <button id="timer-toggler" class="">
            Comenzar Timer
        </button>
    </section>

    <section>
        <h2>Puntos</h2>
    </section>
</body>

</html>