<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&family=Oswald:wght@300&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="/css/styles.css">
    <title>Master of Scrum</title>
</head>

<body>
    <main>

        <section class="bg-yellow">
            <h1>Master of Scrum</h1>
            <h2>Reglas</h2>
        </section>
        <section class="bg-limegreen">
            <h3> Introducción</h3>
            <p>
                Este es un juego de equipo. El objetivo es, entre todos, poder resolver el proyecto encomendado sumando
                la mayor cantidad de puntos.
            </p>
            <p>
                El juego consta de 5 sprints (rondas). En cada sprint deben dividirse y resolver tareas en base a
                lo que convengan como equipo y las tarjetas de acción que tenga cada integrante en su mano. Cada sprint
                consiste de 4 jornadas con sus dailies (reuniones de equipo) correspondientes.
            </p>
            <p>
                Cada jugador tiene cuatro tarjetas de acción que encontrará en la pestaña de abrir mano. Además hay un
                tablero por equipo que deberá ser compartido vía compartir pantalla.
            </p>
        </section>
        <section class="bg-lightskyblue">
            <h3> Preparación</h3>
            <p>
                Lo primero que deben hacer es registrarse a <a href="https://trello.com/es" target="_blank">Trello</a>.
                Uno de los integrantes crea un espacio de trabajo y agrega a los demás integrantes al mismo. Dentro del
                espacio de trabajo arman un tablero con 5 listas o columnas son los siguientes títulos:
            </p>
            <ul>
                <li>Historias de usuario</li>
                <li>Pendientes</li>
                <li>En curso</li>
                <li>En revisión</li>
                <li>Completadas</li>
            </ul>
            <p>
                Previo a comenzar el juego, todos los integrantes del equipo ofician de product owner y escriben las
                historias de usuario que ubican en la columna Historias de usuario. Cada tarea debe tener estar
                etiquetada con alguno de los siguientes tags:
            </p>
            <ul>
                <li>Tareas tipo A</li>
                <li>Tareas tipo B</li>
                <li>Tareas tipo C</li>
            </ul>
            <p>
                Las 3 etiquetas deben tener una distribución pareja entre todas las tarjetas.
            </p>
            <p>
                A su vez también deben agregarle una puntuación a cada historia de usuario dependiendo la dificultad que
                estimen para la misma. Las puntuaciones posibles para cada historia de usuario son:
            </p>
            <ul>
                <li>1 punto</li>
                <li>2 puntos</li>
                <li>3 puntos</li>
                <li>5 puntos</li>
                <li>8 puntos</li>
                <li>13 puntos</li>
                <li>21 puntos</li>
            </ul>
            <p>
                Entre todas las puntuaciones de las historias de usuario deben sumar entre 200 y 300 puntos.
            </p>
            <p>
                Finalmente, antes de comenzar, cada equipo elije un Scrum master que estará encargado de compartir el
                tablero (sólo el tablero , deberá ocultar su mano al resto del equipo, puede utilizar otro dispositivo
                para
                ver su mano si quiere). Además el Scrum Master moderará las dailies al final de cada jornada de cada
                sprint.
            </p>
        </section>
        <section class="bg-orange">

            <h3>
                Transcurso del juego
            </h3>
            <h4>
                Sprint Backlog
            </h4>
            <p>
                Comienza el sprint, el juego consiste de 5 sprints por lo que este proceso (con sus 4 jornadas
                correspondientes) se efectúa 5 veces.
            </p>
            <p>
                El Sprint Backlog es una lista de tareas que se deben resolver en cada sprint. Esta lista se construye
                en base a las historias de usuario que se han registrado en el tablero.
            </p>
            <p>
                El scrum master abre el <a href="/board" target="_blank"> tablero</a> y cada integrate abre su <a
                    href="/hand" target="_blank">mano</a>.
            </p>
            <p>
                Cada sprint comienza decidiendo qué tareas tomarán para el mismo y pasando esas tareas a la columna
                pendiente. Tienen 2 minutos para llevar a cabo esta acción. Las tareas deberán tener una lógica en la
                construcción de su proyecto, no pueden hacer la grifería si no establecieron los cimientos del edificio
                primero. Por otro lado deben tener en cuenta que deben ser factibles de realizar en el transcurso de un
                sprint y que al finalizar cada sprint, deberán tener un entregable que tenga funcionalidad. Por cada 10
                segundos que se pasen de tiempo asignado perderán puntos de forma incremental.
            </p>
            <p>
                A continuación el equipo tiene otros 2 minutos para dividirse las tareas del sprint entre todos. Se
                asignan
                las tareas en el Trello. Las tareas elegidas pasarán a la columna en curso. Cada integrante puede elegir
                más
                de una tarea y pueden quedar tareas sin elegir aún para ser tomadas más tarde durante el sprint. Por
                cada 10
                segundos que se pasen de tiempo asignado perderán puntos de forma incremental.
            </p>
        </section>
        <section class="bg-pink">
            <h4>
                Jornada y dailies
            </h4>
            <p>
                Comienza la jornada, este ciclo se repite 3 veces más y al final de la cuarta iteración se finaliza el
                correspondiente sprint.
            </p>
            <p>
                Cada integrante elije una tarjeta de acción de su mano para usar como acción durante la jornada. Cada
                tarjeta de acción tiene asociada una cantidad de puntos de esfuerzo que pueden ser modificados las
                tarjetas
                de situación.
            </p>
            <p>
                Una vez que todos los integrantes eligieron su acción, el Scrum master sacará una tarjeta de situación
                antes
                de comenzar la daily. Las tarjetas de situación pueden modificar la cantidad de puntos de las tarjetas
                de
                acción de los integrantes.
            </p>
            <p>
                Comienza la daily. La misma no puede durar más de 2 minutos y cada integrante debe decir qué acción tomó
                y
                cuántos puntos avanza en cada una de sus tareas. Se sustraen los puntos de esfuerzo, modificados por la
                tarea de situación de cada tarea. Si los puntos restantes son menor o igual a cero entonces esa tarjeta
                pasa
                a revisión. Si la tarea no fue completada, queda para la siguiente jornada.
            </p>
            <p>
                Una vez se utiliza la acción de la tarjeta de acción, la tarjeta se descarta y se le asigna una nueva
                tarjeta de acción a cada integrante teniendo siempre 4 tarjetas de acción en su mano comienzan una nueva
                jornada.
            </p>
            <p>
                Una vez terminado el sprint, se efectúa un Sprint Review para conversar sobre cómo mejorar para su
                siguiente
                sprint. Piensen estrategias y acciones basadas en estas 5 categorías y escríbanlas en un documento o
                Jamboard:
            </p>
            <ul>
                <li>Seguir haciendo</li>
                <li>Hacer más</li>
                <li>Comenzar a hacer</li>
                <li>Hacer menos</li>
                <li>Dejar de hacer</li>
            </ul>
        </section>
        <section class="bg-tan">
            <h3>
                Puntuaciones
            </h3>
            <p>
                Las puntuaciones se calculan de la siguiente manera:
            </p>
            <ul>
                <li>Por cada tarea realizada dentro de su sprint correspondiente suman los puntos de la tarea</li>
                <li>Por cada tarea realizada después de su sprint correspondiente suman la mitad de los puntos de la
                    tarea</li>
                <li>Por cada tarea no completada al final del juego restan los puntos de esa tarea</li>
                <li>Si se pasan de los dos minutos asignados pierden los puntos que dice el timer que perdieron</li>
        </section>
        </ul>

        <section class="bg-lightblue">
            <h3>
                Pendientes
            </h3>
            <ul>
                <li>Balancear puntos</li>
                <li>Crear tarjetas de acción y de situación</li>
                <li>Finalizar código del board</li>
                <li>Agregar code review a las opciones de juego</li>
                <li>...</li>
            </ul>
        </section>


    </main>

</body>

</html>